#include "resource.h"

DLG_MAIN DIALOGEX 6, 5, 350, 220

CAPTION "Lethalskillz Serial Tool"

FONT 8, "Tahoma"

STYLE 0x10CE0804

BEGIN
  CONTROL "",IDC_DISP_MSG,"EDIT",ES_MULTILINE | ES_READONLY |
          WS_VSCROLL | WS_HSCROLL | WS_TABSTOP,5,3,270,160,WS_EX_CLIENTEDGE
  CONTROL "&Clear", IDC_BTN_CLR, "Button", 0x10010000, 229, 167, 46, 15
  EDITTEXT  IDC_EDIT_SEND,5,191,210,14,ES_AUTOHSCROLL
  CONTROL "&Send", IDC_BTN_SEND, "Button", 0x10010000, 229,  190, 46, 15
  COMBOBOX  IDC_COM_PORT,285,3,45,4,CBS_DROPDOWN|CBS_SORT|CB_SELECTSTRING |WS_VSCROLL|WS_TABSTOP
  COMBOBOX  IDC_BAUD_RATE,285,23,45,4,CBS_DROPDOWN|CBS_SORT|CB_SELECTSTRING |WS_VSCROLL|WS_TABSTOP
  COMBOBOX  IDC_BYTE_SIZE,285,43,45,4,CBS_DROPDOWN|CBS_SORT|CB_SELECTSTRING |WS_VSCROLL|WS_TABSTOP
  COMBOBOX  IDC_PARITY,285,63,45,4,CBS_DROPDOWN|CBS_SORT|CB_SELECTSTRING |WS_VSCROLL|WS_TABSTOP
  COMBOBOX  IDC_STOP_BIT,285,83,45,4,CBS_DROPDOWN|CBS_SORT|CB_SELECTSTRING |WS_VSCROLL|WS_TABSTOP
  COMBOBOX  IDC_FLOW_CTRL,285,103,45,4,CBS_DROPDOWN|CBS_SORT|CB_SELECTSTRING |WS_VSCROLL|WS_TABSTOP
  //CTEXT       "",IDC_STATIC,6,5,160,30

END


1 24 "manifest.xml"
